h1 {
    color: #FFFFFF;
    font-weight:bold; /* nicht fuer Überschrieften*/
}
body{
    background-image: url("Hintergrund.jpg");
    background-repeat: no-repeat;
    background-position: right;
}
.Hier bin ich{
    text-align: center ;
    color: #FFFFFF;
}
p.link{
    color: #FFFFFF;
}
.picture {
    height: 50%;
    width: auto;
}
.pictureEVO {
    height: 50%;
    width: 50%;
}
.Funktion{
    color: #FFFFFF;
    font-size: 15;
    font-family: monospace;
}
